.variable {
  background: #0092EE;
  color: #F5F5F6;
  padding: .25rem .13rem;
  outline-offset: -2px;
  line-height: 1.3125em;
  border-radius: .5rem;
  margin: 0 .13rem;
}

.variable::selection {
  display: none;
}